<div class="show-title">
  <h1><%= @cocktail.name %></h1>
</div>
<div class="show-container">
  <div class="cocktail-doses">
    <div class="cocktail-ingredients">
      <h4>Ingredients</h4>
      <ul class="dose-details">
        <% @cocktail.doses.each do |dose| %>
            <li>
              <%= dose.ingredient.name %> : <%= dose.description %>
              <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
            </li>
        <% end %>
      </ul>
    </div>
    <div class="doses-form-container">
      <h4>Add a dose in shaker</h4>
      <%= render './doses/form', dose: @dose %>
    </div>
  </div>
</div>
<div class="show-title title-review">
  <h1>Reviews</h1>
</div>
<div class="reviews-container">
  <% @cocktail.reviews.each do |review| %>
    <div class="review-block">
      <div class="stars">
        <% review.rating.times do %>
          <i class="fas fa-star"></i>
        <% end %>
      </div>
      <p><%= review.content %></p>
    </div>
  <% end %>
  <div class="review-form">
    <h4>Add your review</h4>
    <%= render './reviews/form', review: @review %>
  </div>
</div>

